<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>UA Investment Club</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="bar-header">
    <h1>UA Investment Club</h1>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/transaction">Transaction</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/holdings">Holdings</a></li>
  </ul>
  <div>
    <h2>What type of transaction will we be making today?</h2>
    <ul>
      <li><a href="/buy"><h1>Buy</h1></a></li>
      <li><a href="/sell"><h1>Sell</h1></a></li>
    </ul>
  </div>
</body>
</html>
